#bee {
  background-color: rgb(150, 182, 150);
  border: 1px solid ;
  padding: 10px 80px;
}
.wee {
  background-color: rgb(150, 182, 150);
}
#yoo {
  padding: 10px;
  text-align: center;
  background-color: rgb(150, 182, 150);
}
#mer {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.ber {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.bol {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
#iii {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#good {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
.luck {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
/*it is "example-2"*/

#been {
  border: 1px solid rgb(150, 182, 150);
  padding: 40px;
  background-color: rgb(150, 182, 150);
}
#wee1 {
  border: 1px solid rgb(150, 182, 150);
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#yoo1 {
  border: 1px solid rgb(150, 182, 150);
  background-color: rgb(150, 182, 150);
}
#merr {
  background-color: rgb(255, 255, 255);
}
#ger {
  padding: 10px;
}

.bering {
  background-color: rgb(114, 231, 225);
}
.nur {
  padding: 10px;
}
#gur {
  background-color: rgb(255, 255, 255);
}
#tur {
  padding: 10px;
}
.sen {
  background-color: rgb(150, 182, 150);
}
.men {
  padding: 10px;
}
#al {
  background-color: rgb(255, 255, 255);
}
#bul {
  padding: 10px;
}
.g {
  background-color: rgb(150, 182, 150);
}
.k {
  padding: 10px;
}
#b {
  background-color: rgb(255, 255, 255);
}
#p {
  padding: 10px;
}
.d {
  background-color: rgb(150, 182, 150);
}
.t {
  padding: 10px;
}
#m {
  border-bottom: solid 1px;
  background-color: rgb(255, 255, 255);
}
#l {
  
  padding: 10px;
}
#n {
  background-color: rgb(255, 255, 255);
}
#i1 {
  padding: 10px;
}
.kto {
  padding: 5px;
}

#bn {
  
  background-color: rgb(70, 85, 70);
}
#vm {
  padding: 10px;

}
#nurrt {
  border-collapse: collapse;
}

.page {
  padding: 20px;
  padding-bottom: 20px;
}
#example-20 {
  border-collapse: collapse;
}
#example-21 {
  background-color: rgb(255, 255, 255);
}
#example-22 {
  padding: 10px;
}
#example-23 {
  background-color: rgb(150, 182, 150);
}
#example-34 {
  padding: 10px;
}
#example-24 {
  background-color: rgb(255, 255, 255);
}
#example-25 {
  padding: 10px;
}
#example-26 {
  background-color: rgb(150, 182, 150);
}
#example-27 {
  padding: 10px;
}
#example-28 {
  
  padding: 10px;
}
#example-29 {
  border: 2px solid rgb(156, 129, 129);
  background-color: rgb(255, 255, 255);
}
#example-30 {
  border: 2px solid rgb(156, 129, 129);
  background-color: rgb(255, 255, 255);
}
#example-31 {
  padding: 10px;
}
#example-32 {
  background-color: rgb(150, 182, 150);
  border: 2px solid rgb(156, 129, 129);
}
#example-33 {
  
  padding: 10px;
}
#page-1 {
  border: 2px solid rgb(156, 129, 129);
}
#page-2 {
  border: 2px solid rgb(156, 129, 129);
}
#page-3 {
  border: 2px solid rgb(156, 129, 129);
}
#page-4 {
  border: 2px solid rgb(121, 106, 106);
}
