#bee {
  background-color: rgb(150, 182, 150);
  border: 1px solid ;
  padding: 10px 80px;
}
.wee {
  background-color: rgb(150, 182, 150);
}
#yoo {
  padding: 10px;
  text-align: center;
  background-color: rgb(150, 182, 150);
}
#mer {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.ber {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.bol {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
#iii {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#good {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
.luck {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
/*it is "example-2"*/

#been {
  border: 1px solid rgb(150, 182, 150);
  padding: 40px;
  background-color: rgb(150, 182, 150);
}
#wee1 {
  border: 1px solid rgb(150, 182, 150);
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#yoo1 {
  border: 1px solid rgb(150, 182, 150);
  background-color: rgb(150, 182, 150);
}
#merr {
  background-color: rgb(255, 255, 255);
}
#ger {
  padding: 10px;
}

.bering {
  background-color: rgb(114, 231, 225);
}
.nur {
  padding: 10px;
}
#gur {
  background-color: rgb(255, 255, 255);
}
#tur {
  padding: 10px;
}
.sen {
  background-color: rgb(150, 182, 150);
}
.men {
  padding: 10px;
}
#al {
  background-color: rgb(255, 255, 255);
}
#bul {
  padding: 10px;
}
.g {
  background-color: rgb(150, 182, 150);
}
.k {
  padding: 10px;
}
#b {
  background-color: rgb(255, 255, 255);
}
.p {
  padding: 10px;
}