#bee {
  background-color: rgb(150, 182, 150);
  border: 1px solid ;
  padding: 10px 80px;
}
.wee {
  background-color: rgb(150, 182, 150);
}
#yoo {
  padding: 10px;
  text-align: center;
  background-color: rgb(150, 182, 150);
}
#mer {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.ber {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
.bol {
  background-color: rgb(150, 182, 150);
  text-align: center;
}
#iii {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#good {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
.luck {
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
/*it is "example-2"*/

#been {
  border: 1px solid rgb(150, 182, 150);
  padding: 40px;
  background-color: rgb(150, 182, 150);
}
#wee1 {
  border: 1px solid rgb(150, 182, 150);
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#yoo1 {
  border: 1px solid rgb(150, 182, 150);
  background-color: rgb(150, 182, 150);
}
#merr {
  background-color: rgb(255, 255, 255);
}
#ger {
  padding: 10px;
}

.bering {
  background-color: rgb(114, 231, 225);
}
.nur {
  padding: 10px;
}
#gur {
  background-color: rgb(255, 255, 255);
}
#tur {
  padding: 10px;
}
.sen {
  background-color: rgb(150, 182, 150);
}
.men {
  padding: 10px;
}
#al {
  background-color: rgb(255, 255, 255);
}
#bul {
  padding: 10px;
}
.g {
  background-color: rgb(150, 182, 150);
}
.k {
  padding: 10px;
}
#b {
  background-color: rgb(255, 255, 255);
}
#p {
  padding: 10px;
}
.d {
  background-color: rgb(150, 182, 150);
}
.t {
  padding: 10px;
}
#m {
  background-color: rgb(255, 255, 255);
}
#l {
  padding: 10px;
}
#n {
  background-color: rgb(255, 255, 255);
}
#i1 {
  padding: 10px;
}
.kto {
  padding: 5px;
}
.buu {
  text-align: center;
  padding: 50px;
  margin: 10px;
  padding-top: 40px;
}
.jkl {
  text-align: center;
  padding: 60px;
  padding-top: 50px;
}
#fds {
  text-align: center;
  padding: 30px;
  padding-top: 26px;
}
.aa {
  margin: 4px;
  padding: 10px;
  padding-top: 5px;
}
#fj {
  padding: 10px;
  padding-top: 8px;
}
#it {
  text-align: center;
  padding-top: 0.12px;
}
#bn {
  
  background-color: rgb(70, 85, 70);
}
#vm {
  padding: 10px;

}

