#example-20 {
  border-collapse: collapse;
}
#example-21 {
  background-color: rgb(255, 255, 255);
}
#example-22 {
  padding: 10px;
}
#example-23 {
  background-color: rgb(150, 182, 150);
}
#example-34 {
  padding: 10px;
}
#example-24 {
  background-color: rgb(255, 255, 255);
}
#example-25 {
  padding: 10px;
}
#example-26 {
  background-color: rgb(150, 182, 150);
}
#example-27 {
  padding: 10px;
}
#example-28 {
  
  padding: 10px;
}
#example-29 {
  border: 2px solid rgb(156, 129, 129);
  background-color: rgb(255, 255, 255);
}
#example-30 {
  border: 2px solid rgb(156, 129, 129);
  background-color: rgb(255, 255, 255);
}
#example-31 {
  padding: 10px;
}
#example-32 {
  background-color: rgb(150, 182, 150);
  border: 2px solid rgb(156, 129, 129);
}
#example-33 {
  
  padding: 10px;
}
#page-1 {
  border: 2px solid rgb(156, 129, 129);
}
#page-2 {
  border: 2px solid rgb(156, 129, 129);
}
#page-3 {
  border: 2px solid rgb(156, 129, 129);
}
#page-4 {
  border: 2px solid rgb(121, 106, 106);
}
#example-40 {
  background-color: rgb(21, 109, 121);
}
#example-41 {
  padding: 10px;
}