#been {
  border: 1px solid rgb(150, 182, 150);
  padding: 40px;
  background-color: rgb(150, 182, 150);
}
#wee1 {
  border: 1px solid rgb(150, 182, 150);
  padding: 10px;
  background-color: rgb(150, 182, 150);
}
#yoo1 {
  border: 1px solid rgb(150, 182, 150);
  background-color: rgb(150, 182, 150);
}
#merr {
  background-color: rgb(255, 255, 255);
}
#ger {
  padding: 10px;
}

.bering {
  background-color: rgb(114, 231, 225);
}
.nur {
  padding: 10px;
}
#gur {
  background-color: rgb(255, 255, 255);
}
#tur {
  padding: 10px;
}
.sen {
  background-color: rgb(150, 182, 150);
}
.men {
  padding: 10px;
}
#al {
  background-color: rgb(255, 255, 255);
}
#bul {
  padding: 10px;
}
.g {
  background-color: rgb(150, 182, 150);
}
.k {
  padding: 10px;
}
#b {
  background-color: rgb(255, 255, 255);
}
#p {
  padding: 10px;
}
.d {
  background-color: rgb(150, 182, 150);
}
.t {
  padding: 10px;
}
#m {
  border-bottom: solid 1px;
  background-color: rgb(255, 255, 255);
}
#l {
  
  padding: 10px;
}
#n {
  background-color: rgb(255, 255, 255);
}
#i1 {
  padding: 10px;
}
.kto {
  padding: 5px;
}

#bn {
  
  background-color: rgb(70, 85, 70);
}
#vm {
  padding: 10px;

}
#nurrt {
  border-collapse: collapse;
}